/* src/components/Resume.css */

.resume-section {
  text-align: center;
  padding: 4rem 1rem;
  background: linear-gradient(135deg, #f0f4ff, #e6f7ff);
  height: 53rem;
}

.resume-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.resume-section p {
  font-size: 1rem;
  color: #555;
}

.resume-button-wrapper {
  margin-top: 1.5rem;
}

.resume-btn {
  background-color: #2c632c;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.resume-btn:hover {
  background-color: #836fff;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .resume-section h2 {
    font-size: 1.5rem;
  }

  .resume-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
